

body{
    font-family: cursive;
    background-position:bottom;
    background-size: 100%;
    height: 100%;
    background-repeat: no-repeat ;
    background-attachment: fixed ;
}
nav{
    font-family: cursive;
    height: 60px;
}
.editar {
    
    
    /*    background-color: #5FA7B7;*/
}
.uno::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/Fondo_4.png);
    opacity: 0.3;
    
    /*    background-color: #5FA7B7;*/
}
.tres::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/Fondo_4.png);
    
    /*    background-color: #5FA7B7;*/
}
.dos::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: url(../img/Fondo_4.png);
    opacity: 0.5;
    
    /*    background-color: #5FA7B7;*/
}
.calendar {
  background: #82CACD;
  width: 100%;
  max-width: 600px;
  margin: 1em auto;
  padding: .5em 0; 
  font-family: cursive;
  border-radius: 10px 10px 10px 10px;
  cursor: default
}
  .calendar__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0 2em;
    font-size: 1.3em;
    text-transform: uppercase;}
  .calendar__prev, .calendar__next {
    color: #205D76;
    cursor: pointer;
    font-size: 1.3em; }
  .calendar__prev {
    margin-right: auto;
  }
  .calendar__next {
    margin-left: auto; }
  .calendar__week, .calendar__dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px; }
  .calendar__month, .calendar__year {
    padding: .5em 1em; }
  .calendar__item {
    
    text-align: center;
    line-height: 2;
    }
  .calendar__today {
    background: #EB6E80;
    color: white;
    width: 50%;
    border-radius: 50%;
    margin: auto;
  }
  .calendar__last-days {
    opacity: .3; }
  .calendar_event1 {
    border-style: solid;
    width: 50%;
    border-radius: 10%;
    margin: auto;
    border-color: #FEDCD2
  }
  .calendar_event2 {
    border-style: solid;
    width: 50%;
    border-radius: 10%;
    margin: auto;
    border-color: #baffc9
  }
  .calendar_event3 {
    border-style: solid;
    width: 50%;
    border-radius: 10%;
    margin: auto;
    border-color: #ffbdbd
  }
  
  .calendar_event4 {
    border-style: solid;
    width: 50%;
    border-radius: 10%;
    margin: auto;
    border-color: #bae1ff
  }
  .calendar_event5 {
    border-style: solid;
    width: 50%;
    border-radius: 10%;
    margin: auto;
    border-color: #f1cbff;
  }
  .calendar_event6 {
    border-style: solid;
    width: 50%;
    border-radius: 10%;
    margin: auto;
    border-color: #ffffba;
    
  }
  .activate {
    background-color: #5D9B9B;
    width: 50%;
    margin: auto;
    border-radius: 10%;
    

  }

.visita{
    text-align: center;
}
.botones 
{  
    margin-left: 400px;


}
#boton{
    width: 150px; 
    height: 50px;
}

.campos{
    margin-left: 1000px;
}
.fa fa-user{
    width: 20px;
    height: 20px;
}
.caja{
    color: #5a6c7d;
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}
#tiulo{
    float: right;
}
.centro{
    /*    margin-left: 300px;*/
    width: 400px;
}

nav ul li {
    display:inline-block;
    position:relative;
    left:180px;
    
}

h3 {
    text-align: center;
    margin-top: -30px;
}
.titulo1 {
    text-align: center;
    margin-top: 10px;
}


.menu{
    color:rgba(58, 58, 189, 0.671);
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100;

}

#items{
    margin-left: 350px;
}
.logo{
    width: 50px;
    height: 50px;
}
#conte{
    margin-top: 1px;
}
.abajo-derecha{
    position:absolute;
    bottom:5px;
    right:10px;
}
.peligro{
    color: red;
    position:absolute;
    bottom:9%;
    right:18%;
    cursor: pointer;
    
}
table{
	background-color: #beebe9;
	text-align: left;
	border-collapse: collapse;
	width: 1100px;
    border-radius: 10px 10px 10px 10px;
    
    
}
.des{
    height: 25px;
    overflow: auto;
}
.scr{
    height: 400px;
    overflow: auto;
}
th, td{
	padding: 13px;
        
}

thead{
    border-radius: 10px 10px 10px 10px;
	background-color: #36b5b0 ;
	border-bottom: solid 5px #8ac6d1;
	color: white;
}

tr:hover td{
	background-color: #9de3d0;
	color: white;
        
        
}
